@import url('https://fonts.cdnfonts.com/css/century-gothic-paneuropean');
@import url('https://fonts.cdnfonts.com/css/futura-lt');

body{
    font: 14px;
    font-family: 'Century Gothic Paneuropean',o'Futura LT' , sans-serif;                                                
    margin: 30px;
}
ol,ul{
    padding-left: 30px;
}